---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="About Bryan"	>


	<p>Bryan is a developer educator with over 18 years of experience building and teaching for the web. He’s the Head of Developer Relations for Hygraph – a headless CMS.</p>

<p>While he loves using modern technology, he’s old-school at heart. Give him clean CSS and well-structured HTML and he’s happy. Especially if the DX is solid.</p>

<p>Bryan lives in the Detroit area in the US with his wife, son, and ancient cat (she’s been around for the entirety of his professional career on the web…). He’s always up to talk about board games, TTRPGs, or video games … oh and also the state of the web.</p>


</Layout>
