---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>

<p>My name is Bryan Robinson. I'm a designer, developer and teacher based in Michigan. I've been passionate about HTML, CSS and JS for my entire career, and I want to teach you to be just as passionate about it, as well.</p>

<p>I've spoken nationally about modern CSS. I write regularly about CSS on my own blog, and I recently had the opportunity to write about it for CSS Tricks (still very proud of this). I've mentored designers to be developers and developers to be designers.</p>

<h2>Want to know more?</h2>
<p>I've been in the industry over a decade and have worked in many capacities. Take a look at <a href="https://linkedin.com/in/bryanlrobinson/">my LinkedIn profile</a> for a full resumé</p>

</Layout>
