---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getPosts } from '../utils/sanityClient';
import BlogCard from '../components/BlogCard.astro';
import Bluesky from '../components/Bluesky.astro';
import {BlueskyPost} from '@astro-community/astro-embed-bluesky'
const posts = (await getCollection('blog'))
const sanityPosts = await getPosts()

const combinedPosts = [...posts, ...sanityPosts].sort(
	(a, b) => {
		return b.data.date.valueOf() - a.data.date.valueOf()}
);

---

<style>
	main {
		width: 100%
	}
	ul.socials {
		list-style: disc;
		padding-left: 1rem;
	}
</style>


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="grid md:grid-cols-[1.5fr_2fr] my-auto max-w-screen-xl gap-10">
			<div class="relative" style="width:100%">
			<div class="sticky top-10">
				<img class="mb-3   max-w-44" src="/images/headshot.jpg" />
			<h1 class="text-4xl font-bold">Howdy, I'm Bryan</h1>
			<h2 class="text-2xl">I educate folks about the web and technology.</h2>
			<p>You may have heard of me, but probably not (I'm not that arrogant). I'm a developer educator that has been working on the web for over 18 years. I've done everything from video production, to leading development and design teams, to building the frontend for enterprise, content-heavy websites.</p>
			<h2 class="text-2xl">Latest from Bluesky</h2>
			
			<div class="mb-8"><Bluesky cacheTime="3600" actor="brob.dev" server:defer><BlueskyPost slot="fallback" id="https://bsky.app/profile/brob.dev/post/3larq7z6y7k23" /></Bluesky></div>
			
			<h3 class="text-xl font-bold">Other Places you can find me</h3>
			
			<ul class="socials">
			<li><a href="https://www.youtube.com/@bryanlrobinson">YouTube</a></li>
			<li><a href="https://bsky.app/profile/brob.dev">Bluesky</a></li>
			<li><a href="https://twitter.com/brob">Twitter</a></li>
			<li><a href="https://linkedin.com/in/bryanlrobinson">LinkedIn</a></li>
			</ul>
		</div>	
		</div>
			<div>
				<h2 class="text-xl uppercase mb-0">Latest posts</h2>
				<ul class="gap-3 mb-3">
					{
						combinedPosts.slice(0,5).map((post) => (
							<BlogCard post={post} />
						))
					}
				</ul>
				<a href="/blog" title="Link to more blog posts">More Posts &raquo;</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
