---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Thanks! Work with Bryan">
	<h2 class="text-2xl font-bold">Bridging your company and your technical user</h2>
	<p>Thanks for reaching out! I'll be back with you shortly</p>
	
	
</Layout>
