---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<style>
	.bluesky-flutter {
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
}

.bluesky-flutter svg {
  width: 2em;
  height:2em;
  transition: 200ms;
}

.bluesky-flutter .left {
  transform-origin: center;
}
.bluesky-flutter .right {
  transform-origin: center;
  transform: scale(-1, 1);
}
.bluesky-flutter:hover .left,
.bluesky-flutter:focus .left {
   animation: flutter 430ms ease-in-out;
   --flip: 1;
}
.bluesky-flutter:hover .right, 
.bluesky-flutter:focus .right {
   animation: flutter 500ms ease-in-out;
  --flip: -1;
}
.bluesky-flutter:hover svg,
.bluesky-flutter:focus svg{
  transform: rotate(-5deg);
  transition: 500ms;
}

@media (prefers-reduced-motion) {
  .bluesky-flutter:hover .left,
  .bluesky-flutter:focus .left, 
  .bluesky-flutter:hover .right, 
  .bluesky-flutter:focus .right {
    animation: none;
  }
}

@keyframes flutter {
  10% {
    transform: scale(calc(var(--flip)*1), 0.9);
  }
  20% {
    transform: scale(calc(var(--flip)*0.5), 1) 
  }
  40% {
    transform: scale(calc(var(--flip)*0.9), 0.95);
  }
  60% {
    transform: scale(calc(var(--flip)*0.3), 1);
  }
  80% {
    transform: scale(calc(var(--flip)*0.9), 0.95);
  }
  100% {
    transform: scale(calc(var(--flip)*1), 1);
  }
}

</style>


<header>
	<nav>
		<h2><a class="block p-1 logo" href="/"><img class="max-w-16" src="/logo.svg" />
		</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/contract">Work with Bryan</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://bsky.app/profile/brob.dev" class="bluesky-flutter">
				<span class="sr-only">Go to Bryan's Bluesky profile</span>

				<svg id="flutterby" class="bluesky-flutter" viewBox="0 0 566 500" xmlns="http://www.w3.org/2000/svg">
				  <defs>
					<path id="wing" fill="currentColor" d="M 123.244 35.008 C 188.248 83.809 283.836 176.879 283.836 235.857 C 283.836 316.899 283.879 235.845 283.836 376.038 C 283.889 375.995 282.67 376.544 280.212 383.758 C 266.806 423.111 214.487 576.685 94.841 453.913 C 31.843 389.269 61.013 324.625 175.682 305.108 C 110.08 316.274 36.332 297.827 16.093 225.504 C 10.271 204.699 0.343 76.56 0.343 59.246 C 0.343 -27.451 76.342 -0.206 123.244 35.008 Z" />
				  </defs>
				  <use xlink:href="#wing" class="left" />
				  <use xlink:href="#wing" class="right" />
				</svg>
			  
			  </a>
			<a href="https://github.com/brob" target="_blank">
				<span class="sr-only">Go to Bryan's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="40" height="40"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a.logo {
		padding: .5rem 0;
	}
	nav a.logo img {
		border-radius: 0;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
